langchain
langchain-community
chromadb
chroma-migrate
streamlit
transformers 
torch 
einops 
bitsandbytes 
accelerate 
pdfminer.six 
bs4 
sentence_transformers
duckdb 
beautifulsoup4
sentence-transformers 
sentencepiece 
six 
requests 
uvicorn 
torchvision 
